#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: reimerdiaz # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCn9TY5atkcuDX7tBV4tfj6Q9FQYXdYIKD7bg+SmPcFPwdncG0e1gACMveC9u9omzzF/tHoAZZEH0Pz8sMx6DdXXVdexh0fWjVEUr1M2cYVwbtEYXBPzMVE8gTIvkMAeQ16r6T4CR+I9cN/HhzrFI11xUFXe9eplmRKP32orHJTumQL23nnEtKgmPae7UZzJgs5gcdb+P3lx5vC0HgziwcbXy7Xk8VbtqoaTlC1mRA2URjzSHEXpjgYoPDtKQxXlanU6Qvr1Bcz+lYmYMK24mIcvgW64PDdn6VaMlcj31HNqiB8Y5692nt0nD06fbiztdyWup0Xuk6LnuADMdWS8R6R reimerdiaz@reimer
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
